.deps/
.libs/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
aspell_fuzzer
*.o
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
*.a
libtool
ltmain.sh
m4/
missing